@import "../../style/utilities";
.xm-components-showcase {
	background: $c-linear;
	color: #fff;
	margin-bottom: 3rem;
	padding: 3rem 0;
	text-shadow: 0 1px 1px rgba(darken($c-theme, 40), .1);
	min-height: 176px;
	@include media("<sm") {
		margin-bottom: 0;
	}
	h1 {
		color: #fff;
		font-size: 2.5rem;
		font-weight: 400;
	}
	.lead {
		color: rgba(#fff, .9);
		font-size: 1.3rem;
		font-weight: 400;
		margin-top: .5rem;
	}
	.home-lead {
		color: #fff;
		font-size: 2rem;
		font-weight: 300;
		margin: 1rem 2rem;
		@include media("<md") {
			font-size: 1.5rem;
			margin: 1rem 0;
		}
	}
	.home-version {
		color: rgba(#fff, .5)
	}
	.home-logo {
		display: block;
		width: 9rem;
		height: 9rem;
		cursor: default;
		margin: 0 auto;
		border: $border-white;
		border-radius: 15%;
		background-image: url('/img/logo.png');
		background-size: 100%;
	}
}