@import 'var';
.command {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.item {
  padding: 1rem;
  width: 100%;
  margin: 0;
}
:global {
  .gitment-comments-init-btn,
  .gitment-editor-submit {
    background-color: $c-primary !important;
  }
  .gitment-comment-main,
  .gitment-editor-header {
    background: #fff;
  }
  .gitment-editor-submit,
  .gitment-comments-init-btn {
    background-color: #222;
  }
  .gitment-comment-like-btn.liked {
    color: $c-primary;
    .gitment-heart-icon {
      fill: $c-primary;
    }
  }
  a {
    &:hover,
    &.gitment-footer-project-link,
    &.gitment-footer-project-link:visited,
    &.gitment-editor-login-link,
    &.gitment-editor-login-link:visited {
      color: $c-primary;
    }
  }
}
