@import "../../style/utilities";
#duoshuo #ds-thread #ds-reset {
	#ds-hot-posts {
		border: none;
		.ds-header {
			color:$c-font-light;
			border: $border-light;
			border-radius: 4px;
			margin-bottom: .25rem;
		}
	}
	.ds-meta, .ds-powered-by, .ds-sync {
		display: none !important;
	}

	.ds-highlight {
		color: $c-theme;
	}
	.ds-comments-info {
		margin: 1rem 0;
		border-bottom: $border-normal;
		padding: 0;
		.ds-comments-tabs {
			padding: 0;

		}
		.ds-tab a {
			border: none;
			display: inline-block;
			padding: .5rem 0;
			font-size: 1rem;
			border-bottom: 2px solid $c-theme !important;
			border-radius: 0 !important;
		}
	}
	.ds-login-buttons {
		width: auto;
		padding: .5rem;
		border-radius: 4px;
		border: $border-normal;
		margin-bottom: 1rem;
	}
	.ds-user-name.ds-highlight {
		color: $c-font-normal !important;
		font-weight: bolder;
		font-size: .9rem;
	}
	.ds-avatar {
		overflow: hidden;
		border-radius: 4px;
		box-shadow: none;
		border: $border-normal;
	}

	/* 边框颜色 */
	li.ds-post {
		border: none;
		position: relative;
		> div {
			padding-left: 0;
		}
	}

	/* 气泡评论框 */
	.ds-comment-body {
		margin-left: 4.5rem;
		margin-bottom: 0;
		padding-left: 0;
		padding-bottom: 1rem;
		border-bottom: 1px dashed #eee;
	}

	/* 去除喜欢下面的分割线 加大边距*/
	.ds-meta {
		border: none;
		margin-bottom: 100px;
		margin-top: 100px;
		text-align: center;
	}

	.ds-like-panel {
		line-height: 60px;
	}

	/* 取消头像阴影 */
	.ds-avatar img {
		box-shadow: none;
	}

	/* 评论输入框 去掉内阴影 */
	.ds-textarea-wrapper textarea {
		background: #fff;
	}

	/* 取消渐变背景 */
	.ds-gradient-bg {
		background: #f8f8f8;
		outline: none;
	}

	/* 扁平化发布按钮 */
	.ds-post-button {
		background: $c-theme;
		border: 1px solid $c-theme;
		color: #fff;
		transition: background-color .2s;
		text-shadow: none;
		box-shadow: none;
	}

	.ds-post-button:hover {
		background: $c-theme;
		color: #fff;
	}

	/* 输入框颜色调亮 */
	.ds-textarea-wrapper, .ds-post-options {
		border-color: #eee;
	}

	/* n条评论， 扁平化 */
	li.ds-tab a.ds-current {
		background: none;
		border-color: #eee;
	}

	/* 取消末尾分割线 */
	.ds-comments {
		border: none;
	}

	/* 多说版权信息居中 */
	.ds-powered-by {
		text-align: center;
	}
}
