.sprite-default {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position:center;
  background-color: #f8f8f8;
}
@mixin img-default($height,$width:$height,$name:$height) {
  width: 2px * $width;
  height: 2px * $height;
  background-image: url($img-url + 's_'+ $name +'/s_'+ $name +'.png');
}
.default-24{
  @include img-default(24);
}

.default-30{
  @include img-default(30);
}

.default-36{
  @include img-default(36);
}

.default-54{
  @include img-default(54);
}

.default-54-long{
  @include img-default(54,108,'54_long');
}