$c-primary: #ff6700;
$font-code: Hack, Menlo, Consolas, Courier, monospace !important;
$c-white: #f8f8f2;
$c-grey: #666;
$c-red: #f92672;
$c-orange: #fd971f;
$c-yellow: #e6db74;
$c-green: #a6e22e;
$c-blue: #66d9ef;
$c-purple: #ae81ff;
