@import "../../style/utilities";

.Typist .Cursor--blinking {
	animation: blink 1s linear infinite;
	opacity: 1;
}
@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}