@import "../../style/utilities";
.xm-container {
	@include media("<sm") {
		.row{
			marin:0;
		}


		.xm-sider{
			border-bottom: $border-normal;
			padding-bottom: 1rem;
			margin-bottom: 2rem;
			@include media("<sm"){
				padding:0;
			}
		}
	}

}
.xm-sider {
	background: transparent;
	.ant-menu-submenu-title, .ant-menu-item {
		padding-left: 1rem !important;
	}

	@include media("<md") {
		flex: 0 0 100% !important;
		max-width: 100% !important;
		.ant-menu-inline, .ant-menu-item {
			border-right: none !important;

		}
	}
}