@import "../../style/utilities";
header {
	border-bottom: $border-normal;
	box-sizing: border-box;
	> .container > .row {
		align-items: center;
		margin: 0
	}
	.site-logo {
		width: 12.5rem;
		height: 3.75rem;
		background-image: url("/img/site-logo.png");
		background-repeat: no-repeat;
		background-size: auto 100% ;
		background-position: left center;
		display: block;
		margin-right: 1rem;
		@include media("<lg"){
			margin-top: .5rem;
		}
		@include media("<md"){
			margin-bottom: .5rem;
			height: 2.4rem;
		}
	}
	.ant-menu-horizontal {
		border: none;
		padding: .8rem 0;
		@include media("<lg"){
			padding:  0;
		}
	}

	.ant-menu-item {
		margin: 0 2rem 0 0;
		padding: 0;
	}

	.ant-menu-item-selected {
		font-weight: bold;
	}
	.ant-menu-item {

		transition-property: color !important;
		&:hover {
			border-bottom: 2px solid transparent !important;
			&:before {
				left: 0;
				right: 0;
			}
		}
		&:before {
			background: $c-theme;
			bottom: -2px;
			content: "";
			height: 2px;
			left: 50%;
			position: absolute;
			right: 50%;
			transition-duration: .3s;
			transition-property: left, right;
			transition-timing-function: ease-out;
			z-index: -1;
		}
	}

}

