<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="theme-color" content="#B44E28">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="blank">
	<meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
	<link rel="apple-touch-icon-precomposed" href="img/icon.png">
	<link rel="icon" type="image/x-icon" href="img/favicon.ico">
	<title>XMUED - 熊猫金库用户体验中心</title>
</head>
<body>
<div id="root"></div>
<% if (htmlWebpackPlugin.files.css.length === 0) { %>
<script type="text/javascript" src="/roadhog.dll.js"></script>
<% } %>
</body>
</html>
