@import "../../style/utilities";
.xm-news {
	.ant-table-thead {
		display: none;
	}
	.ant-table-row:hover {
		background: transparent !important;
	}
	.xm-card-body {
		.xm-card-sublist {
			border: $border-normal;
			padding: 1rem;
			margin-bottom: 1rem;
			display: block;
			h2{
				font-size: 1.2rem;
				margin-bottom: 1rem;
			}
			p {
				font-size: .9rem;
				display: block;

			}
			a {
				margin-top: 1rem;
				display: block;
				font-size: .8rem;
				padding: .5rem 1rem;
				background: $c-theme;
				color: #fff;
				width: 6rem;
				text-align: center;
				border-radius: 4px;

			}
		}
	}
}