$border-normal: 1px solid #eee;

.controlset {
  margin-top: 1rem;
  display: block;
  width: 100%;
  height: 1.5rem;
  label {
    width: 5rem;
  }
}

.colorPicker-picker {
  height: 1rem;
  width: 2rem;
  padding: 0 !important;
  border: $border-normal;
  cursor: pointer;
  line-height: 1rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
  display: inline-block;
}
.colorPicker-palette {
  width: 8rem;
  position: absolute;
  border: $border-normal;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 0.5rem;
  z-index: 9999;
  border-radius: 2px;
  input {
    height: auto;
    border-radius: 2px;
    margin-top: 0.5rem;
    padding: 0 2px;
    border: $border-normal;
    width: 100%;
  }
  label {
    display: none;
    margin: 0;
    margin-top: 0.5rem;
  }
}
.colorPicker-hexWrap {
  width: 100%;
  float: left;
}
.colorPicker-hexWrap label {
  font-size: 95%;
  color: #2f2f2f;
  margin: 5px 2px;
  width: 25%;
}
.colorPicker-hexWrap input {
  margin: 5px 2px;
  padding: 0;
  font-size: 95%;
  border: $border-normal;
  width: 65%;
}
.colorPicker-swatch {
  height: 1rem;
  width: 2rem;
  border: $border-normal !important;
  margin: 2px;
  float: left;
  cursor: pointer;
  line-height: 12px;
}
